/*|---------------| App Color Schema|---------------*/
$PRIMARY: #172E5E;
$GREEN: #385B3E;
$SECONDARY: #C6C6C6;
$LIGHT: #FFFFFF;

// $SUCCESS: #82d616;
// $WARNING: #fbcf33;
// $ERROR: #ea0606;
// $LIGHT: rgba(255, 255, 255, 0.8);
// $DARK: #344767;